@page
@model ReservationsPrototype.Pages.Reservations.ProviderP.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Providers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Providers.ProviderName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Providers.ProviderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Providers.ProviderContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Providers.ProviderContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Providers.ProviderEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Providers.ProviderEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Providers.ProviderPersonToContact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Providers.ProviderPersonToContact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Providers.ProviderAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Providers.ProviderAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Providers.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Providers.IsActive)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Providers.provider_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
