@page
@model ReservationsPrototype.Pages.Reservations.TransportTypeP.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransportType[0].TransportTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportType[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TransportType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransportTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TransportTypeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TransportTypeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TransportTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
